<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Categoría - SignSense</title>
    <!-- Enlazar el archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .btn-custom {
            background-color: #6b5b95;
            border: none;
            color: white;
            margin: 5px;
            font-size: 18px;
            padding: 10px 20px;
            border-radius: 10px;
        }
        .btn-custom:hover {
            background-color: #5a4a84;
        }
    </style>
</head>
<body>

    <!-- Encabezado -->
    <header>
        <div class="logo">
            SignSense
            <img src="/static/sortdo.png" alt="SignSense Logo" class="logo-image" />
        </div>
        <div class="session-status">
            {% if logueado %}
                <p>No estás logueado. <a href="/acceso-login">Iniciar sesión</a></p>
            {% else %}
                <p>Hola, {{ session.usuario_nombre }}! <a href="/logout">Cerrar sesión</a></p>
            {% endif %}
        </div>
    </header>

    <!-- Contenedor principal -->
    <div class="container">
        <h1>Selecciona una Categoría</h1>

        <!-- Formulario para seleccionar la categoría -->
        <form action="{{ url_for('test') }}" method="get" class="category-select">
            <label for="categoria">
                <select id="categoria" name="categoria">
                    {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                    {% endfor %}
                </select>
            </label>

            <!-- Botón para regresar al inicio -->
            <button type="button" class="btn btn-custom" onclick="location.href='/start'">Regresar</button>

            <!-- Botón para iniciar el test -->
            <button type="submit" class="btn btn-custom">Iniciar Test</button>

        </form>
    </div>

    <!-- Pie de página -->
    <footer>
        &copy; {{ current_year }} SignSense. Todos los derechos reservados.
    </footer>

</body>
</html>
